[DEFAULT]
RUN_USER = git
RUN_MODE = prod
APP_DATA_PATH = /opt/forgejo-app/data

[server]
DOMAIN           = forgejo.example.com
ROOT_URL         = https://forgejo.example.com/
HTTP_PORT        = 3000
SSH_DOMAIN       = ssh.forgejo.example.com
SSH_PORT         = 22
START_SSH_SERVER = false

[database]
DB_TYPE  = postgres
HOST     = 127.0.0.1:5432
NAME     = forgejo
USER     = forgejo
PASSWD   = CHANGEME

[repository]
ROOT = /opt/forgejo-app/repos

[log]
MODE      = file
LEVEL     = info
ROOT_PATH = /opt/forgejo-app/logs

[security]
INSTALL_LOCK   = true
SECRET_KEY     = CHANGEME
INTERNAL_TOKEN = CHANGEME

[service]
DISABLE_REGISTRATION = true
